@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  box-shadow: none;
  overflow: visible;
  cursor: pointer;
}
